PRODUCT_BUNDLE_IDENTIFIER = io.dolby.rts.tvos-viewer-staging

EXPANDED_CODE_SIGN_IDENTITY = ''
CODE_SIGNING_REQUIRED = NO
CODE_SIGNING_ALLOWED = NO

DEVELOPMENT_TEAM = E4A6TDH44W
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = iPhone Developer

PROVISIONING_PROFILE_SPECIFIER = Dolby IO TVOS RTS Viewer Development
